@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
::-webkit-scrollbar-track{
    background: #73ec8b;
}

body {
    font-family: Open Sans, sans-serif;
    background-color: #f4f4f9;
    padding: 0;
}

.navbar {
    background: linear-gradient(to right, #73c726, #09877f);
    color: white;
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: background-color 0.3s ease;
    font-family: "Lobster";
    font-size: 27px;
    max-width: 100vw;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.title-container{
    display: flex;
    justify-content: center;
    height: 8rem;
}

.title {
    text-align: left;
    font-size: 60px;
    margin-bottom: 20px;
    font-family: "Leckerli One";
    background: linear-gradient(to right, #73c726, #09877f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.plant-container {
    display: flex;
    justify-content: center;
}

.content-container {
    display: flex;
    justify-content: space-evenly;
    max-height: 20rem;
    #uploaded-image{
        max-width: 100%;
        aspect-ratio: auto;
         border-radius: 8px;
    }
}

/* @media(max-width:600px){
    .content-container{
    flex-direction: column;
    }
} */

.info-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e0f2e9;
    padding: 20px;
    max-height: 100%;
    max-width: 800px;
    border-radius: 15px;

    .description {
        font-size: 20px;
        margin: 25px 0; 
        margin-top: 25px;
    }
    

    h2 {
        color: #444;
        font-size: 40px;
        margin-bottom: 10px;
        text-align: center;
    }

    h3 {
        color: #444;
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
    }

    p {
        font-size: 30px;
        color: #444;
    } 
}

.care-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    margin-top: 4.5rem
}

.watering, .propagation, .edible {
    min-width: 80%; 
    margin: 20px auto; 
    background-color: #CEE9E1; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    display: flex; 
    align-items: center; 
    img{
        margin-right: 1rem;
    }
}

.propagation {
    background-color: #E8E9CE;
}

.edible {
    background-color: #E9D8CE;
}

#watering-icon, #propagation-icon, #edible-icon {
    max-width: 155px;
    height: 134px;
    width: 140px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 15px;

}

.watering-text, .propagation-text, .edible-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

.watering h2, .propagation h2, .edible h2 {
    font-size: 26px;
    /* font-family: "Red Hat Text"; */
    margin: 0;
}

.watering p, .propagation p, .edible p {
    font-size: 24px;
    font-family: "Red Hat Text";
    margin-top: 5px;
}

.back-button-container {
    text-align: left;
    margin-top: 2rem;
}

#back-btn {
    padding-left: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 15px;

    .back-button{
        display: flex;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background: fixed;
        background-image: url(../svg-files/back-button-v2.svg);
    }

    svg{
        width: 70px;
        height: 80px;
        &:hover{
            path#leaf{
                fill: white;
            }
            path#arrow{
                fill:  url(#paint0_linear_92_11);
            }
        }
    }
}
